<div class="mt-4">
    <h4 class="text-lg font-inter text-neon-purple mb-2">Subscribe to Our Newsletter</h4>
    <form id="newsletter-form" class="flex flex-col sm:flex-row gap-2">
        <input type="email" id="email-input" placeholder="Enter your email" class="p-2 w-48 rounded bg-gray-800 text-gray-300 border border-gray-600 focus:outline-none focus:border-neon-purple" >
        <button type="submit" class="p-2 bg-neon-purple text-dark-light rounded hover:bg-neon-purple/80 transition">Subscribe</button>
    </form>
    <div id="response-message" class="mt-2 text-gray-400"></div>
</div>
<script src="/js/newsletter.js"></script>
