<footer class="bg-dark-gray text-gray-300 py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <!-- Left Panel -->
            <div class="col-span-1">
                {% include 'components/footer/leftpanel.html.twig' %}
            </div>
            <!-- Quick Links -->
            <div class="col-span-1 md:col-span-2">
                {% include 'components/footer/quicklinks.html.twig' %}
            </div>
            <!-- Newsletter and Social Media -->
            <div class="col-span-1">
                {% include 'components/footer/newsletter.html.twig' %}
                {% include 'components/footer/socialmedia.html.twig' %}
            </div>
        </div>
        <!-- Bottom Section -->
        <div class="mt-8 pt-4 border-t border-gray-700 text-center">
            <p>&copy; {{ "now"|date("Y") }} Aviyon Corporation S-Corp. All rights reserved.</p>
        </div>
    </div>
</footer>
