<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="Aviyon Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/ide">IDE</a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard/marketplace">Marketplace</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      </ul>
      <form class="d-flex me-3">
        <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
      </form>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
          <img src="/assets/images/user-placeholder.jpg" alt="User" class="rounded-circle me-2" width="32" height="32">
          <span>Username</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/profile">Profile</a></li>
          <li><a class="dropdown-item" href="/settings">Settings</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
