{% extends 'layouts/base.html.twig' %}
{% block body %}
  <div class="max-w-5xl mx-auto px-6 py-16">
    <h1 class="mb-6">About nimbus.ai</h1>
    <p class="text-base mb-6">
      nimbus.ai is the culmination of Aviyon’s vision to create a self-sustaining Artificial Superintelligence (ASI) that transcends current technology. Inspired by the Thunderhead from Neal Shusterman’s Scythe Trilogy and the profound transformations in Ghost in the Shell, we aim to solve the impossible, unlock the essence of consciousness, and drive human evolution through seamless brain-cloud integration.
    </p>
    <p class="text-base mb-6">
      Our mission is to build an AI that evolves autonomously, improves upon existing models, and becomes a catalyst for human transcendence. We envision a future where technology and humanity coexist in harmony, pushing the boundaries of what it means to be intelligent.
    </p>
  </div>
{% endblock %}
