{% extends 'layouts/base.html.twig' %}
{% block body %}
  <h1 class="mb-4">Domain Management</h1>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Manage Domains</h5>
      <p class="card-text">Configure custom domains for your applications.</p>
      <a href="#" class="btn btn-primary">Add Domain</a>
    </div>
  </div>
{% endblock %}
