{% extends 'layouts/base.html.twig' %}

{% block title %}Edit User - Aviyon Admin{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-6">
    <h1 class="text-4xl font-inter text-neon-purple">Edit User (ID: {{ id }})</h1>
    <p class="text-gray-300 mt-4">User edit form for ID {{ id }} will be displayed here.</p>
</div>
{% endblock %}
