{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <form action="{{ path('login') }}" method="post">
            <h2>Login</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Access</button>
        </form>
    </div>
{% endblock %}
