{% extends 'layouts/base.html.twig' %}
{% block body %}
  <h1 class="mb-4">Deployments</h1>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Manage Deployments</h5>
      <p class="card-text">View and manage your application deployments on the Internet Computer.</p>
      <a href="#" class="btn btn-primary">New Deployment</a>
    </div>
  </div>
{% endblock %}
