{% extends 'layouts/base.html.twig' %}
{% block body %}
  <h1 class="mb-4">Hosting</h1>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Decentralized Hosting</h5>
      <p class="card-text">Configure hosting settings for your Web3 applications.</p>
      <a href="#" class="btn btn-primary">Configure</a>
    </div>
  </div>
{% endblock %}
