{% extends 'layouts/base.html.twig' %}
{% block body %}
  <h1 class="mb-4">Virtual World</h1>
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Kodoverse</h5>
      <p class="card-text">Collaborate and showcase projects in our virtual world.</p>
      <a href="#" class="btn btn-primary">Enter</a>
    </div>
  </div>
{% endblock %}
